* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: rgb(42, 56, 128);
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: column;
}

img {
  width: 20%;
  margin-top: 30px;
  align-self: center;
}

h1 {
  color: orange;
  text-align: center;
  padding: 30px;
  text-transform: uppercase;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0% 30%;
}

#message {
  color: orangered;
}

#back {
  align-self: center;
}

.teen-name {
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 25px;
}

.main {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.main div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 30px;
  padding: 10px;
  width: 300px;
  border-radius: 20px;
}

.text-score-type {
  color: rgb(255, 255, 255);
  font-size: 25px;
}

.score-type {
  color: rgb(255, 255, 255);
  font-size: 40px;
}

.score-position0 {
  background: linear-gradient(90deg, rgb(3, 89, 46) 0%, rgb(17, 121, 76) 35%, rgb(4, 135, 32) 100%);
}

.score-position1 {
  background: linear-gradient(90deg, rgb(1, 37, 137) 0%, rgb(18, 45, 196) 35%, rgb(72, 86, 211) 100%);
}

.score-position2 {
  background: linear-gradient(90deg, rgb(152, 1, 132) 0%, rgb(187, 2, 178) 35%, rgb(240, 65, 232) 100%);
}

@media screen and (max-width: 600px) {
  img {
    width: 60%;
  }

  form {
    margin: 0px 30px;
  }

  .option-teen-name {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 10px;
    color: red
  }

  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main div {
    margin-bottom: 10px;
  }
}
