* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: rgb(42, 56, 128);
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: column;
}

img {
  width: 20%;
  margin-top: 30px;
  align-self: center;
}

h1 {
  color: orange;
  text-align: center;
  padding: 30px;
  text-transform: uppercase;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0% 30%;
}

#message {
  color: orangered;
}

#back {
  align-self: center;
}

.teen-name {
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 25px;
}